<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chinese Chess</title>

  <!-- Source Library -->
  <!-- jQuery -->
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <div class="board">
    <div class="row">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
    </div>
    <div class="row">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
    </div>
    <div class="row">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
    </div>
    <div class="row">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
    </div>
    <div class="row">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
    </div>
    <div class="row">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
    </div>
    <div class="row">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
    </div>
    <div class="row">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
    </div>
    <div class="row">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
    </div>
    <div class="row">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
      <img class="not-select">
    </div>
  </div>

</body>

<!-- Custom Library -->
<link href="/static/css/ChineseChess/chess.css" rel="stylesheet">
<script src="/static/js/ChineseChess/values.js"></script>
<script src="/static/js/ChineseChess/tools.js"></script>
<script src="/static/js/ChineseChess/chess.js"></script>
<script src="/static/js/ChineseChess/board.js"></script>
<script src="/static/js/ChineseChess/game.js"></script>

</html>