body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.info {
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
}

.red {
  color: #FF0000;
}

.black {
  color: #000000;
}

.board {
  width: 720px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(/static/img/ChineseChess/chess_board.jpg);
  background-size: cover;
  background-position: center;
  user-select: none;
}

.row {
  height: 10%;
  width: 100%;
}

.row>img {
  height: 100%;
  width: 10.515%;
}

.select {
  background: url(/static/img/ChineseChess/OOS.GIF);
  background-size: cover;
}

.not-select {
  
}