<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Simulated Annealing</title>
  <link rel="shortcut icon" href="/static/img/ai.jpg">
  
  <!-- Source Library -->
  <!-- jQuery -->
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <!-- Semantic -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <!-- eChart -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.common.js"></script>
</head>

<body>
  <!-- Title Bar -->
  <div id="SATitle" class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui inverted header">
        Simulated Annealing V.S. Local Search
      </h1>
      <div class="ui huge primary button">Generate Chart</div>
    </div>

    <div class="ui container">
      <div class="ui four item inverted pointing tabular menu">
        <a class="active item" data-tab="part1">part1</a>
        <a class="item" data-tab="part2">part2</a>
        <a class="item" data-tab="part3">part3</a>
        <a class="item" data-tab="part4">part4</a>
      </div>
    </div>
  </div>

  <!-- part1 Chart -->
  <div class="chart ui bottom attached tab segment active" data-tab="part1">
    <div class="row">
      <div class="column active" id="part1-chart"></div>
    </div>
  </div>

  <!-- part2 Chart -->
  <div class="chart ui bottom attached tab segment" data-tab="part2">
    <div class="row">
      <div class="column" id="part2-chart" data-tab="part2"></div>
    </div>
  </div>
  
  <!-- part3 Chart -->
  <div class="chart ui bottom attached tab segment" data-tab="part3">
    <div class="row">
      <div class="column" id="part3-chart" data-tab="part3"></div>
    </div>
  </div>
  
  <!-- part4 Chart -->
  <div class="chart ui bottom attached tab segment" data-tab="part4">
    <div class="row">
      <div class="column" id="part4-chart" data-tab="part4"></div>
    </div>
  </div>
</body>

<!-- Custom Library -->
<link rel="stylesheet" type="text/css" href="/static/css/SA/sa.css">
<script src="/static/js/SA/sa.js"></script>

</html>