<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Astar</title>
  <link rel="shortcut icon" href="/static/img/ai.jpg">

  <!-- Source Library -->
  <!-- jQuery -->
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <!-- Semantic -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>

<body>
  <!-- Title Bar -->
  <div id="AstarTitle" class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui inverted header">
        A* Search
      </h1>
      <div class="ui huge primary button">One step</div>
    </div>
  </div>

  <div class="ui center aligned internally celled grid">
    <div class="row">
      <div class="five wide column image">
        <div>
          <div class="part"></div>
          <div class="part"></div>
          <div class="part"></div>
        </div>
        <div>
          <div class="part"></div>
          <div class="part"></div>
          <div class="part"></div>
        </div>
        <div>
          <div class="part"></div>
          <div class="part"></div>
          <div class="part"></div>
        </div>
      </div>
      <div class="seven wide column open">
        <div class="content">
          <p>Step i:</p>
          <p>Open: ...</p>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- Custom Library -->
<link href="/static/css/Astar/Astar.css" rel="stylesheet">
<script src="/static/js/Astar/Astar.js"></script>

</html>
